@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// Cores
$primary-color: #171717;
$secondary-color: #202020;
$terciary-color: #4D3FA6;
$background-color: #262626;
$text-color: #fff;
$text-color-opacity: #ffffff80;

// Fontes
$font-family: "Raleway", sans-serif;
$font-size-base: 20px;
$font-size-home: 3rem;
$font-size-topic: 2rem;

//blob
$blob-color-bottom: #7d3fa6;
